.catalogContainer {
    display: flex;
    /* Rectangle container*/
    width: 200%;
    height: 120px;
    border: 1px solid black;
}
.elementImage {
    /* Image */
    width: 120px;
    height: 100%;
    border: 1px solid black;
}
.elementData {
    /* Element data */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}