.mainbackground {
    background-color: #fde047;
    border: border-box;
    height: auto;
    width: 100%;
}

.resultsContainer {
    
    padding: 40px 20px;
    width: 95%;
    height: auto;
    margin: 50px auto;
    margin-bottom: 30vh;
    text-align: center;
}

.resultsContainer h1 {
    margin-bottom: 20px;
}

.resultsContainer p {
    font-size: 1.2rem;
}
