.resultsContainer {
    padding: 40px 20px;
    width: 100%;
    height: 100%;
    background-color: #fde047;
    margin: 0 auto;
    text-align: center;
}

.resultsContainer h1 {
    margin-bottom: 20px;
}

.resultsContainer p {
    font-size: 1.2rem;
}